In [11]:
import pandas as pd
import numpy as np
import datetime

In [62]:
korean=pd.read_csv("C:/Users/mitha/OneDrive/바탕 화면/dev/ECO_Jeju/Sungmin/new_datas/2nd_edition/korean_group.csv")
long=pd.read_csv("C:/Users/mitha/OneDrive/바탕 화면/dev/ECO_Jeju/Sungmin/new_datas/2nd_edition/long_group.csv")
short=pd.read_csv("C:/Users/mitha/OneDrive/바탕 화면/dev/ECO_Jeju/Sungmin/new_datas/2nd_edition/short_group.csv")
card=pd.read_csv("C:/Users/mitha/OneDrive/바탕 화면/dev/ECO_Jeju/Sungmin/new_datas/2nd_edition/card_group.csv")
waste=pd.read_csv("C:/Users/mitha/OneDrive/바탕 화면/dev/ECO_Jeju/Sungmin/new_datas/2nd_edition/waste_group.csv")
resident=pd.read_csv("C:/Users/mitha/OneDrive/바탕 화면/dev/ECO_Jeju/Sungmin/new_datas/2nd_edition/resident_group.csv")

- 변수별 월단위 변수 생성/수정 후 재조립 과정
- 각 테이블 별 row의 수에 유의하도록 함

In [63]:
resident['resident_base_month']=resident['resident_base_month'].apply(lambda x:str(x).zfill(2))#월을 두자리수로 변경
resident['resident_base_year']=resident['resident_base_year'].astype(str)#년도를 스트링타입으로 변경
resident['base_date']=resident['resident_base_year']+'-'+resident['resident_base_month']#새로운 기준일 생성
resident['emd_nm']=resident['resident_emd_nm']#컬럼 이름 변경 귀찮아서 생성 후 삭제
resident.drop(['resident_base_year','resident_base_month','resident_emd_nm','Unnamed: 0'],axis=1,inplace=True)#필요없는 변수 삭제
resident_group=resident.groupby(['base_date','emd_nm']).sum()#월단위 읍면동 그룹핑
resident_group

                  resident_resid_reg_pop  resident_foreign_pop  \
base_date emd_nm
2018-01   건입동                       9800                   228
          구좌읍                      15574                   552
          남원읍                      19112                   628
          노형동                      53369                  1589
          대륜동                      13473                   178
...                                  ...                   ...
2021-06   표선면                      12347                   334
          한경면                       9158                   337
          한림읍                      21232                  3230
          화북동                      24300                   330
          효돈동                       5257                    57

                  resident_total_pop
base_date emd_nm
2018-01   건입동                  10028
          구좌읍                  16126
          남원읍                  19740
          노형동                  54958
          대륜동                  13651
...                              ...
2021-06   표선면                  12681
          한경면                   9495
          한림읍                  24462
          화북동                  24630
          효돈동                   5314

[1806 rows x 3 columns]

In [64]:
card['base_date']=card['base_date'].apply(lambda x:x[:7])#일 단위 삭제
card_group=card.groupby(['base_date','emd_nm']).sum()#월단위 읍면동 그룹핑
card_group

                  card_use_cnt  card_use_amt
base_date emd_nm
2018-01   건입동            57683    2024688672
          구좌읍            38869    1437171016
          남원읍            49138    1878298705
          노형동           397207   12301257150
          대륜동            65027    2414501385
...                        ...           ...
2021-06   표선면            40962    1480487884
          한경면            30086    1096266339
          한림읍            84533    3090858420
          화북동           167413    4982321182
          효돈동            24585     864786389

[1848 rows x 2 columns]

In [65]:
long['base_date']=long['base_date'].apply(lambda x:x[:7])#일 단위 삭제
long_group=long.groupby(['base_date','emd_nm']).sum()#월단위 읍면동 그룹핑
long_group

                  long_resd_pop_cnt  long_work_pop_cnt  long_visit_pop_cnt  \
base_date emd_nm
2018-01   건입동          1.018044e+05         16943.8851         115266.8745
          구좌읍          2.213694e+05         34858.6714         132749.8157
          남원읍          2.143870e+05         32056.8310         161791.6340
          노형동          1.401165e+06        120223.7692         418261.9018
          대륜동          1.119539e+05         10579.4808         130811.2037
...                             ...                ...                 ...
2021-06   표선면          1.277507e+05         11581.4509          97053.4483
          한경면          1.974491e+05          8189.0644         209496.4615
          한림읍          7.968772e+05         50240.1178         389395.0049
          화북동          1.903365e+05         23239.2810          55825.8361
          효돈동          3.353131e+04          1966.0956          21380.5992

                  long_nationality_AUS  long_nationality_BGD  \
base_date emd_nm
2018-01   건입동                       33                    29
          구좌읍                       40                     0
          남원읍                      107                    10
          노형동                      761                    57
          대륜동                      563                     0
...                                ...                   ...
2021-06   표선면                      248                   239
          한경면                      680                    18
          한림읍                      884                   438
          화북동                      184                    16
          효돈동                       32                     0

                  long_nationality_CAN  long_nationality_CHN  \
base_date emd_nm
2018-01   건입동                      138                  1466
          구좌읍                      747                  1486
          남원읍                      147                  1488
          노형동                     1046                  1488
          대륜동                     1017                  1484
...                                ...                   ...
2021-06   표선면                      820                  1339
          한경면                     1113                  1436
          한림읍                     1258                  1440
          화북동                      741                  1173
          효돈동                       87                  1108

                  long_nationality_DEU  long_nationality_EGY  \
base_date emd_nm
2018-01   건입동                        3                     0
          구좌읍                        0                     0
          남원읍                        0                     3
          노형동                       25                    15
          대륜동                      174                     1
...                                ...                   ...
2021-06   표선면                       72                    48
          한경면                      703                     0
          한림읍                      357                     0
          화북동                       13                   657
          효돈동                       30                     0

                  long_nationality_ETC  ...  long_nationality_NZL  \
base_date emd_nm                        ...
2018-01   건입동                      755  ...                     7
          구좌읍                     1068  ...                    34
          남원읍                      598  ...                    72
          노형동                     1188  ...                   122
          대륜동                     1249  ...                   569
...                                ...  ...                   ...
2021-06   표선면                     1440  ...                    67
          한경면                     1224  ...                   224
          한림읍                     1437  ...                   672
          화북동                      844  ...                     2
          효돈동                      174  ...                     6

                  long_nationality_PAK  long_nationality_PHL  \
base_date emd_nm
2018-01   건입동                      118                   956
          구좌읍                       72                   923
          남원읍                      429                   849
          노형동                       36                   839
          대륜동                        2                   821
...                                ...                   ...
2021-06   표선면                      922                   932
          한경면                        3                   687
          한림읍                       27                  1092
          화북동                      157                   775
          효돈동                        4                  1085

                  long_nationality_RUS  long_nationality_THA  \
base_date emd_nm
2018-01   건입동                      238                    45
          구좌읍                      569                   722
          남원읍                      265                   231
          노형동                     1074                   976
          대륜동                      427                   111
...                                ...                   ...
2021-06   표선면                      326                   734
          한경면                      130                   388
          한림읍                     1191                  1411
          화북동                      364                   215
          효돈동                      325                    15

                  long_nationality_TWN  long_nationality_UKR  \
base_date emd_nm
2018-01   건입동                      652                     9
          구좌읍                      154                     7
          남원읍                       27                     0
          노형동                     1119                     6
          대륜동                      693                     0
...                                ...                   ...
2021-06   표선면                      114                     3
          한경면                      108                     1
          한림읍                      366                     8
          화북동                      126                     2
          효돈동                       12                     2

                  long_nationality_USA  long_nationality_UZB  \
base_date emd_nm
2018-01   건입동                      715                   122
          구좌읍                     1179                   631
          남원읍                      526                   218
          노형동                     1215                   419
          대륜동                      954                   291
...                                ...                   ...
2021-06   표선면                     1417                   776
          한경면                     1253                   211
          한림읍                     1434                   533
          화북동                      826                   732
          효돈동                      370                   100

                  long_nationality_VNM
base_date emd_nm
2018-01   건입동                     1471
          구좌읍                     1479
          남원읍                     1442
          노형동                     1487
          대륜동                     1205
...                                ...
2021-06   표선면                      919
          한경면                     1366
          한림읍                     1440
          화북동                     1375
          효돈동                      811

[1806 rows x 34 columns]

In [66]:
korean['base_date']=korean['base_date'].apply(lambda x:x[:7])#일 단위 삭제
korean_group=korean.groupby(['base_date','emd_nm']).sum()#월단위 읍면동 그룹핑
korean_group

                  korean_resd_pop_cnt  korean_work_pop_cnt  \
base_date emd_nm
2018-01   건입동            4.935983e+06         7.039353e+05
          구좌읍            7.998788e+06         7.538520e+05
          남원읍            8.648312e+06         6.924429e+05
          노형동            3.630623e+07         3.592287e+06
          대륜동            8.274240e+06         8.105084e+05
...                               ...                  ...
2021-06   표선면            7.438819e+06         6.503971e+05
          한경면            5.147711e+06         4.478808e+05
          한림읍            1.441143e+07         1.352330e+06
          화북동            1.785358e+07         1.314200e+06
          효돈동            2.793702e+06         1.459787e+05

                  korean_visit_pop_cnt  korean_sex_남성  korean_sex_여성  \
base_date emd_nm
2018-01   건입동             4.938897e+06        13388.0        13338.0
          구좌읍             5.099720e+06        13392.0        13392.0
          남원읍             5.555027e+06        13392.0        13392.0
          노형동             1.526984e+07        13392.0        13392.0
          대륜동             6.600239e+06        13392.0        13392.0
...                                ...            ...            ...
2021-06   표선면             4.518580e+06        12960.0        12960.0
          한경면             2.962254e+06        12942.0        12960.0
          한림읍             7.898940e+06        12960.0        12960.0
          화북동             6.535703e+06        12960.0        12952.0
          효돈동             1.206070e+06        12738.0        12890.0

                  korean_age_0  korean_age_10  korean_age_20  korean_age_30  \
base_date emd_nm
2018-01   건입동           2976.0         2976.0         2976.0         2976.0
          구좌읍           2976.0         2976.0         2976.0         2976.0
          남원읍           2976.0         2976.0         2976.0         2976.0
          노형동           2976.0         2976.0         2976.0         2976.0
          대륜동           2976.0         2976.0         2976.0         2976.0
...                        ...            ...            ...            ...
2021-06   표선면           2880.0         2880.0         2880.0         2880.0
          한경면           2871.0         2871.0         2880.0         2880.0
          한림읍           2880.0         2880.0         2880.0         2880.0
          화북동           2880.0         2880.0         2880.0         2880.0
          효돈동           2740.0         2740.0         2880.0         2880.0

                  korean_age_40  korean_age_50  korean_age_60  korean_age_70  \
base_date emd_nm
2018-01   건입동            2976.0         2976.0         2976.0         2947.0
          구좌읍            2976.0         2976.0         2976.0         2976.0
          남원읍            2976.0         2976.0         2976.0         2976.0
          노형동            2976.0         2976.0         2976.0         2976.0
          대륜동            2976.0         2976.0         2976.0         2976.0
...                         ...            ...            ...            ...
2021-06   표선면            2880.0         2880.0         2880.0         2880.0
          한경면            2880.0         2880.0         2880.0         2880.0
          한림읍            2880.0         2880.0         2880.0         2880.0
          화북동            2880.0         2880.0         2880.0         2876.0
          효돈동            2880.0         2880.0         2880.0         2874.0

                  korean_age_80
base_date emd_nm
2018-01   건입동            2947.0
          구좌읍            2976.0
          남원읍            2976.0
          노형동            2976.0
          대륜동            2976.0
...                         ...
2021-06   표선면            2880.0
          한경면            2880.0
          한림읍            2880.0
          화북동            2876.0
          효돈동            2874.0

[1806 rows x 14 columns]

In [67]:
short['base_date']=short['base_date'].apply(lambda x:x[:7])#일 단위 삭제
short_group=short.groupby(['base_date','emd_nm']).sum()#월단위 읍면동 그룹핑
short_group

                  short_nationality_CHN  short_nationality_ETC  \
base_date emd_nm
2018-01   건입동                       744                    627
          구좌읍                       744                    540
          남원읍                       744                    744
          노형동                       744                    743
          대륜동                       742                    660
...                                 ...                    ...
2021-06   표선면                       672                    684
          한경면                       582                    359
          한림읍                       720                    688
          화북동                       582                    113
          효돈동                       271                    144

                  short_nationality_HKG  short_nationality_IDN  \
base_date emd_nm
2018-01   건입동                       383                    213
          구좌읍                       123                    101
          남원읍                       516                    173
          노형동                       500                    161
          대륜동                       216                    141
...                                 ...                    ...
2021-06   표선면                       184                     62
          한경면                        33                    138
          한림읍                        24                    263
          화북동                         2                      0
          효돈동                        24                      7

                  short_nationality_JPN  short_nationality_MYS  \
base_date emd_nm
2018-01   건입동                       533                    672
          구좌읍                       244                    524
          남원읍                       526                    557
          노형동                       527                    730
          대륜동                       333                    568
...                                 ...                    ...
2021-06   표선면                         0                     73
          한경면                         2                     49
          한림읍                         0                     69
          화북동                         0                      0
          효돈동                         0                      2

                  short_nationality_SGP  short_nationality_THA  \
base_date emd_nm
2018-01   건입동                       538                    239
          구좌읍                       245                    216
          남원읍                       368                    246
          노형동                       308                    246
          대륜동                       222                     28
...                                 ...                    ...
2021-06   표선면                        10                    465
          한경면                        25                    257
          한림읍                         4                     18
          화북동                         0                      0
          효돈동                         0                    102

                  short_nationality_USA  short_nationality_VNM  \
base_date emd_nm
2018-01   건입동                       289                     98
          구좌읍                       483                      0
          남원읍                       590                    168
          노형동                       552                     57
          대륜동                       230                      1
...                                 ...                    ...
2021-06   표선면                       427                     39
          한경면                        54                     45
          한림읍                       147                     37
          화북동                        98                      0
          효돈동                         7                      2

                  short_visit_pop_cnt
base_date emd_nm
2018-01   건입동              78223.0796
          구좌읍              46564.7514
          남원읍             255565.1599
          노형동             199557.9400
          대륜동              42826.8763
...                               ...
2021-06   표선면               2578.9708
          한경면                743.6470
          한림읍               1761.8072
          화북동                324.8798
          효돈동                204.7502

[1806 rows x 11 columns]

In [68]:
waste['base_date']=waste['base_date'].apply(lambda x:x[:7])#일 단위 삭제
waste_group=waste.groupby(['base_date','emd_nm']).sum()#월단위 읍면동 그룹핑
waste_group

                  waste_em_cnt  waste_em_g  waste_pay_amt
base_date emd_nm
2018-01   건입동            18416    45646550        1364804
          남원읍             9570    42437700        1270773
          노형동           113990   265018400        7883340
          대륜동            21666    57612600        1676850
          대정읍            10185    38885550        1164122
...                        ...         ...            ...
2021-06   표선면            10751    42453750        1271419
          한경면             8031    27060150         809898
          한림읍            25653    82746990        2476292
          화북동            66088   110750050        3306029
          효돈동             8720    27554100         824457

[1666 rows x 3 columns]

- 수정 완료. 각 테이블을 저장하도록 함

In [69]:
waste_group.to_csv("C:/Users/mitha/OneDrive/바탕 화면/dev/ECO_Jeju/Sungmin/new_datas/3rd_edition/waste_group.csv")
card_group.to_csv("C:/Users/mitha/OneDrive/바탕 화면/dev/ECO_Jeju/Sungmin/new_datas/3rd_edition/card_group.csv")
long_group.to_csv("C:/Users/mitha/OneDrive/바탕 화면/dev/ECO_Jeju/Sungmin/new_datas/3rd_edition/long_group.csv")
short_group.to_csv("C:/Users/mitha/OneDrive/바탕 화면/dev/ECO_Jeju/Sungmin/new_datas/3rd_edition/short_group.csv")
korean_group.to_csv("C:/Users/mitha/OneDrive/바탕 화면/dev/ECO_Jeju/Sungmin/new_datas/3rd_edition/korean_group.csv")
resident_group.to_csv("C:/Users/mitha/OneDrive/바탕 화면/dev/ECO_Jeju/Sungmin/new_datas/3rd_edition/resident_group.csv")